<template>
  <header>
    <div class="container">
      <div class="header-navigation">
        <a :href="HomeUrl">
          <img src="../../assets/img/logo_img.png" :alt="altLogo">
          <img src="../../assets/img/logo_text.png" :alt="altLogo">
        </a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      HomeUrl: '/',
      logoImg:  '',
      logoText: '',
      altLogo: 'dStar',
    }
  }
}
</script>

<style scoped lang="scss">
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 9;
    .header-navigation {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        img {

        }
    }
  }
}
</style>