@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "reset/base";
@import "reset/view-wrapper";
@import "main/components";
@import "main/animation";
p{
  a{
    color: #00ABCA;
    position: relative;
    text-decoration: none;
    &:before{
      position: absolute;
      bottom: -1px;
      width: 0;
      height: 1px;
      background: #00ABCA;
      content:'';
      left: 0;
      transition: 0.2s;
    }
    &:hover{
      &:before{
        width: 100%;
      }
    }
    &.android{
      padding-left: 20px;
      &:after{
        position: absolute;
        content:'';
        background: url("/assets/img/android.jpg")no-repeat 100%;
        width: 15px;
        height: 15px;
        top: calc(50% - 8px);
        left: 0;

      }
    }
    &.ios{
      padding-left: 20px;
      margin-left: 33px;
      &:after{
        position: absolute;
        content:'';
        background: url("/assets/img/apple.jpg")no-repeat 100%;
        width: 15px;
        height: 15px;
        top: calc(50% - 8px);
        left: 0;

      }
    }
  }
  span{
    width: 100%;
    display: block;
    margin-top: 7px;
  }
}