<template>
  <section class="free-support" :data-text="dataTextSection">
    <div class="container">
      <div class="title-section">
        <h2>{{ nameSection }}</h2>
        <h2>{{ nameSectionBottom }}</h2>
      </div>
      <div class="free-support__content">
        <div class="question-box">
          <label v-for="(item, index, key) in topLabels" :key="key" :data-index="(index + 1)" :for="item.forLabel" :class="{'is-active':(index + 1) <= step}">
            {{ item.text }}
          </label>
        </div>
        <form action="/">
          <div class="stepOne" v-if="step == 1">
            <h3>{{stepOneTitle}}</h3>
            <div class="step__content">
              <div class="form-box" v-for="(stepOneItem, index, key) in stepOneItems" :key="key">
                <input :id="stepOneName + (index + 1)" type="radio" :name="stepOneName" :checked="stepOneItem.checked">
                <label :for="stepOneName + (index + 1)">
                  <span>0{{ index + 1 }}</span>
                  <p>
                    {{ stepOneItem.text }}
                  </p>
                </label>
              </div>
              <div class="button-box">
                <span class="prev-step" >Prev Question</span>
                <span class="next-step" @click.prevent="nextStep">Next Question</span>
              </div>
            </div>

          </div>
          <div class="stepTwo" v-if="step == 2" >
            <h3>{{stepTwoTitle}}</h3>
            <div class="step__content">
              <div class="form-box" v-for="(stepTwoItem, index, key) in stepTwoItems" :key="key">
                <input :id="stepTwoName + (index + 1)" type="radio" :name="stepTwoName" :checked="stepTwoItem.checked">
                <label :for="stepTwoName + (index + 1)">
                  <span>0{{ index + 1 }}</span>
                  <p>
                    {{ stepTwoItem.text }}
                  </p>
                </label>
              </div>
              <div class="button-box">
              <span class="prev-step" @click.prevent="prevStep">Prev Question</span>
              <span class="next-step" @click.prevent="nextStep">Next Question</span>
              </div>
            </div>
          </div>
          <div class="stepFree" v-if="step == 3" >
            <h3>{{stepFreeTitle}}</h3>
            <div class="step__content">
              <div class="form-box" v-for="(stepFreeItem, index, key) in stepFreeItems" :key="key">
                <input :id="stepFreeName + (index + 1)" type="radio" :name="stepFreeName" :checked="stepFreeItem.checked">
                <label :for="stepFreeName + (index + 1)">
                  <span>0{{ index + 1 }}</span>
                  <p>
                    {{stepFreeItem.text }}
                  </p>
                </label>
              </div>
              <div class="button-box">
                <span class="prev-step" @click.prevent="prevStep">Prev Question</span>
                <span class="next-step" @click.prevent="nextStep">Next Question</span>
              </div>
            </div>
          </div>
          <div class="stepFour" v-if="step == 4" >
            <h3>{{stepFourTitle}}</h3>
            <div class="step__content">
              <div class="form-box" v-for="(stepFourItem, index, key) in stepFourItems" :key="key">
                <input :id="stepFourName + (index + 1)" type="radio" :name="stepFourName" :checked="stepFourItem.checked">
                <label :for="stepFourName + (index + 1)">
                  <span>0{{ index + 1 }}</span>
                  <p>
                    {{ stepFourItem.text }}
                  </p>
                </label>
              </div>
              <div class="button-box">
                <span class="prev-step" @click.prevent="prevStep">Prev Question</span>
                <span class="next-step" @click.prevent="nextStep">Next Question</span>
              </div>
            </div>
          </div>
          <div class="stepFive" v-if="step == 5" >
            <h3>{{stepFiveTitle}}</h3>
            <div class="step__content">
              <div class="form-box" v-for="(stepFiveItem, index, key) in stepFiveItems" :key="key">
                <input :id="stepFiveName + (index + 1)" type="radio" :name="stepFiveName" :checked="stepFiveItem.checked">
                <label :for="stepFiveName + (index + 1)">
                  <span>0{{ index + 1 }}</span>
                  <p>
                    {{ stepFiveItem.text }}
                  </p>
                </label>
              </div>
            </div>
            <div class="button-box">
              <span class="prev-step" @click.prevent="prevStep">Prev Question</span>
              <button type="submit" class="next-step" >Next Question</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "FreeSupport",
  data() {
    return {
      nameSection: 'participate in the survey and ',
      nameSectionBottom: 'get free support',
      dataTextSection: 'AWS Solution',
      step: 1,
      topLabels: [
        {
          forLabel: 'stepOne',
          text: 'Question 1'
        },
        {
          forLabel: 'stepTwo',
          text: 'Question 2'
        },
        {
          forLabel: 'stepFree',
          text: 'Question 3'
        },
        {
          forLabel: 'stepFour',
          text: 'Question 4'
        },
        {
          forLabel: 'stepFive',
          text: 'Question 5'
        }
      ],
      stepOneTitle: 'What do you expect from your further corporate messenger?',
      stepTwoTitle: 'What do you expect from your further corporate Audio Calls?',
      stepFreeTitle: 'What do you expect from your further corporate Rooms?',
      stepFourTitle: 'What do you expect from your further corporate  Cloud Storage?',
      stepFiveTitle: 'What do you expect from your further corporate Backup & Restore?',
      stepOneName: 'stepOne',
      stepTwoName: 'stepTwo',
      stepFreeName: 'stepFree',
      stepFourName: 'stepFour',
      stepFiveName: 'stepFive',
      stepOneItems: [
        {
          text: 'Reliable & Secure',
          checked:true
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        },
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        }
      ],
      stepTwoItems: [
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        },
        {
          text: 'Reliable & Secure',
          checked:true
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        }
      ],
      stepFreeItems: [
        {
          text: 'Reliable & Secure',
          checked:true
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        },
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        }
      ],
      stepFourItems: [
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        },
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:true
        }
      ],
      stepFiveItems: [
        {
          text: 'Reliable & Secure',
          checked:true
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        },
        {
          text: 'Reliable & Secure',
          checked:null
        },
        {
          text: 'Reliable, Secure & Trusted',
          checked:null
        }
      ],
    }
  },
  methods:{
    nextStep() {
      this.step++
    },
    prevStep() {
      this.step--
    },
  }
}
</script>

<style scoped lang="scss">
.free-support {
  background: #00ABCA;
  position: relative;
  padding: 140px 0;
  &:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    right: 0;
    width: 792px;
    height: 160px;
    color: rgba(255, 255, 255, 0.1);
    font:600 125px/1  'IBM Plex Sans';
  }
    .title-section {

      h2 {
        color: #fff;
        text-transform: capitalize;
      }
    }

    .free-support__content {
      margin-top: 50px;
      background: #FFFFFF;
      box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      position: relative;
      padding: 50px;
      .question-box {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        label {
          display: flex;
          color: #161616;
          letter-spacing: -0.02em;
          justify-content: center;
          text-align: center;
          font: 600 14px/1 'Open Sans';
          position: relative;
          padding-top: 50px;
          &:first-child{
            &:after{
              background: #fff!important;
              z-index: 3;
            }
          }
          &.is-active{
            &:after, &:before{
              background: #00ABCA;
            }

          }
          &:after{
            position: absolute;
            background: rgba(0, 0, 0, 0.1);;
            width:220px ;
            content:'';
            height: 3px;
            top: 14px;
            left:-201px;
          }

          &:before{
            content: attr(data-index);
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #FFFFFF;
            background: #D8D8D8;
            border-radius: 50%;
            z-index: 2;

          }
        }
      }

      form {
        margin-top: 62px;
        width: 100%;
        & > div{

          h3 {
              text-align: center;
            font:bold 28px 'IBM Plex Sans';
            color: #161616;
          }

          .step__content {
            margin-top: 40px;
            width: 100%;
            .form-box {
              position: relative;
              display: flex;
              width: 100%;
              margin-bottom: 25px;
              cursor: pointer;
              input {
                position: absolute;
                top: 0;
                cursor: pointer;
                width: 100%;
                height: 100%;
                opacity: 0;
                margin: 0;
                z-index: 3;
                &:checked + label{
                  background: #00ABCA;
                  span, p{
                    color: #fff;
                  }
                  &:before, &:after{
                    display: flex;
                  }

                }
              }

              label {
                width: 100%;
                border-radius: 10px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                height: 54px;
                padding: 0 20px;
                position: relative;
                &:before{
                  position: absolute;
                  right: 20px;
                  top: calc(50% - 12px);
                  width: 24px;
                  height: 24px;
                  align-items: center;
                  justify-content: center;
                  content:'';
                  border-radius: 50%;
                  background: #fff;
                  display: none;
                }
                &:after{
                  display: none;
                  position: absolute;
                  top: calc(50% - 8px);
                  right: 27px;
                  content: '';
                  transform: rotate(45deg);
                  width: 8px;
                  border-bottom: 2px solid #00ABCA;
                  height: 14px;
                  border-right: 2px solid #00ABCA;
                }

                span {
                  color: #667886;
                  font:bold 24px 'IBM Plex Sans';
                }

                p {
                  color: #667886;
                  font: 24px 'Open Sans';
                  padding-left: 20px;
                }
              }
            }


          }
        }


      }
    }
}
</style>