<template>
  <section class="how-works">
    <div class="container">
      <div class="title-section">
        <span>{{ nameSection }}</span>
        <h2>{{ nameSection }}</h2>
        <p>{{ textSection }}</p>
      </div>
      <div class="how-works__content">
                  <ul  class="how-works__content--list" >
                    <li v-for="(listItem ,index ,  key ) in listItems" :key="key" >
                      <span>{{ index + 1}}</span> <p  v-html="listItem.text"></p>
                    </li>
                  </ul>

        <div class="how-works__content--img">
          <img src="../../assets/img/macbook.png" alt="img">
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  export default {
    name: "HowItWorks",
      data() {
      return {
        nameSection: 'How it works',
        textSection: 'In order to use the product you must obtain a license from dSTAR.',

        listItems: [
          {
            text: ' First an  <a href="#"> AMI </a > must be deployed.',
          },
          {
            text: ' After deployment discover assigned Public DNS or IPv4 from the Instance description page.',
          },
          {
            text: '<a href="#"> Sign up </a> for Business account and continue to registration page',
          },
          {
            text: ' Download dSTAR app: ' +
                '<span class="device"> ' +
                ' <a class="android" href="#" >for Android </a>' +
                '<a class="ios" href="#">for iOS</a> ' +
                '</span>',
          },
          {
            text: ' Get 12 digits license number and input into the dSTAR Application.',
          },
          {
            text: ' After deployment of the Instance, all features could be tested via emulation dashboard: https://< PUBLIC_IP>/testpanel',
          },
          {
            text: ' Enjoy the benefits of secure infrastructure.',
          },
        ],
      }
    }
  }

</script>
<style scoped lang="scss">

.how-works {
  margin-top: 112px;
  position: relative;
  &:before{
    background: url("../../assets/img/map_bg.png")no-repeat 100%;
    position: absolute;
    top: 50px;
    right: 0;
    width: 949px;
    height: 420px;
    content:'';
  }
    .how-works__content {
      display: flex;
      justify-content: space-between;
      margin-top: 65px;
      position: relative;
      z-index: 2;

      ul {
        max-width: 420px;
        width: 100%;
        p{
          font:600 18px 'IBM Plex Sans';
          color: #161616;
        }
        li {
          margin-bottom: 35px;
          position: relative;
          display: flex;
          align-items: center;
          list-style: none;
          span{
            background: #FFFFFF;
            box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #667886;
            text-align: center;
            font:600 18px 'IBM Plex Sans';
            width: 35px;
            height: 35px;
            margin-right: 20px;
          }

          &:before{
            position: absolute;
            list-style-type: circle;
            content:'';
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
          }
          p{
            font:600 18px 'IBM Plex Sans';
            color: #161616;
          }

        }
      }

      .how-works__content--img {
        max-width: 670px;
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

}
</style>