<template>
  <section class="main-features">
    <div class="animate__background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container">
      <div class="title-section">
        <span>{{ textSection }}</span>
        <h2>{{ nameSection }}</h2>
        <h2>{{ nameSectionBottom }}</h2>
      </div>
      <div class="main-features__content">
        <div class="main-features__content--el">
          <div class="tab-el" v-for="(item, index , key) in direction"
               :key="key" :class="[index === active ? 'is-active' : '']" @click="activate(index)">
            <div class="text-box">
              <h5> {{ item.title }}</h5>
              <p>{{ item.text }} <a v-bind:href="item.url">More</a></p>
              <span v-html="item.icon"></span>
            </div>
          </div>
        </div>
        <div class="tabs-content" v-for="(imgElements ,index, key) in imgEl"  :key="key">
          <img v-show="active === index" v-bind:src="imgElements.imgSrc" :alt="imgElements.altImg">
        </div>

      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: "MainFeatures",
  data() {
    return {
      nameSection: 'All Communication ',
      nameSectionBottom: ' In One Pack',
      textSection: 'Main Features',
      active: 0,
      imgEl:[
        {
          imgSrc: require('../../assets/img/messenger.png'),
          altImg: 'messenger',
        },
        {
          imgSrc: require('../../assets/img/audio.png'),
          altImg: 'audio',
        },
        {
          imgSrc: require('../../assets/img/room.png'),
          altImg: 'room',
        },
        {
          imgSrc: require('../../assets/img/mail.png'),
          altImg: 'mail',
        },
        {
          imgSrc: require('../../assets/img/cloud.png'),
          altImg: 'cloud',
        },
        {
          imgSrc: require('../../assets/img/backup.png'),
          altImg: 'backup',
        }
      ],
      direction: [
        {
          title: 'Messenger',
          text: 'A secure instant messenger that provides all you need to',
          url: '/',
          alt: 'Messenger',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">\n' +
              '<g clip-path="url(#clip0)">\n' +
              '<path d="M15 6.73102C14.6766 6.73102 14.4141 6.99355 14.4141 7.31696C14.4141 7.64037 14.6766 7.90289 15 7.90289C15.3234 7.90289 15.5859 7.64037 15.5859 7.31696C15.5859 6.99355 15.3234 6.73102 15 6.73102Z" fill="#00ABCA"/>\n' +
              '<path d="M5.27344 17.2779C5.59685 17.2779 5.85938 17.0154 5.85938 16.692C5.85938 16.3685 5.59685 16.106 5.27344 16.106C4.95003 16.106 4.6875 16.3685 4.6875 16.692C4.6875 17.0154 4.95003 17.2779 5.27344 17.2779Z" fill="#00ABCA"/>\n' +
              '<path d="M19.6875 0.871643C14.4125 0.871643 10.0829 4.50858 9.74808 9.08965C4.72435 9.34164 0 12.9642 0 17.8638C0 19.9114 0.810242 21.8954 2.28516 23.4673C2.57698 24.6703 2.22267 25.9454 1.34354 26.8246C1.17599 26.9921 1.12587 27.2441 1.21651 27.4631C1.30714 27.6819 1.52069 27.8248 1.75781 27.8248C3.42888 27.8248 5.03929 27.1695 6.23589 26.0148C7.40158 26.4121 8.9225 26.6529 10.3125 26.6529C15.5869 26.6529 19.9159 23.0169 20.2517 18.4367C21.4785 18.3822 22.7545 18.1557 23.7641 17.8116C24.9607 18.9664 26.5711 19.6216 28.2422 19.6216C28.4793 19.6216 28.6929 19.4788 28.7835 19.26C28.8741 19.041 28.824 18.789 28.6565 18.6214C27.7773 17.7423 27.423 16.4672 27.7148 15.2642C29.1898 13.6922 30 11.7083 30 9.66071C30 4.56969 24.9117 0.871643 19.6875 0.871643ZM10.3125 25.481C8.9296 25.481 7.35374 25.2096 6.29814 24.7896C6.07201 24.6994 5.8136 24.7587 5.64903 24.9383C4.94156 25.7117 4.02168 26.251 3.01941 26.4989C3.5717 25.4407 3.71269 24.1933 3.37669 23.0114C3.35014 22.9182 3.30093 22.8331 3.23341 22.7637C1.90407 21.3946 1.17188 19.6544 1.17188 17.8638C1.17188 13.7348 5.35767 10.2466 10.3125 10.2466C14.9913 10.2466 19.1016 13.5002 19.1016 17.8638C19.1016 22.064 15.1588 25.481 10.3125 25.481ZM26.7666 14.5606C26.6991 14.6302 26.6499 14.7153 26.6233 14.8083C26.2873 15.9902 26.4283 17.2376 26.9806 18.2957C25.9783 18.0481 25.0584 17.5086 24.351 16.7352C24.1864 16.5558 23.928 16.4963 23.7019 16.5864C22.787 16.9504 21.4819 17.2024 20.2499 17.2632C20.0787 15.0474 18.9734 12.9648 17.0837 11.4185H24.7266C25.0502 11.4185 25.3125 11.1562 25.3125 10.8326C25.3125 10.5089 25.0502 10.2466 24.7266 10.2466H15.2836C13.9536 9.56961 12.4601 9.17479 10.9229 9.09193C11.2596 5.15654 15.062 2.04352 19.6875 2.04352C24.6423 2.04352 28.8281 5.53168 28.8281 9.66071C28.8281 11.4512 28.0959 13.1914 26.7666 14.5606Z" fill="#00ABCA"/>\n' +
              '<path d="M15 16.106H7.61719C7.29355 16.106 7.03125 16.3683 7.03125 16.692C7.03125 17.0156 7.29355 17.2779 7.61719 17.2779H15C15.3236 17.2779 15.5859 17.0156 15.5859 16.692C15.5859 16.3683 15.3236 16.106 15 16.106Z" fill="#00ABCA"/>\n' +
              '<path d="M15 19.6216H5.27344C4.9498 19.6216 4.6875 19.8839 4.6875 20.2076C4.6875 20.5312 4.9498 20.7935 5.27344 20.7935H15C15.3236 20.7935 15.5859 20.5312 15.5859 20.2076C15.5859 19.8839 15.3236 19.6216 15 19.6216Z" fill="#00ABCA"/>\n' +
              '<path d="M24.7266 6.73102H17.3438C17.0201 6.73102 16.7578 6.99332 16.7578 7.31696C16.7578 7.64059 17.0201 7.90289 17.3438 7.90289H24.7266C25.0502 7.90289 25.3125 7.64059 25.3125 7.31696C25.3125 6.99332 25.0502 6.73102 24.7266 6.73102Z" fill="#00ABCA"/>\n' +
              '</g>\n' +
              '<defs>\n' +
              '<clipPath id="clip0">\n' +
              '<rect width="30" height="29.6965" fill="white" transform="translate(0 0.000549316)"/>\n' +
              '</clipPath>\n' +
              '</defs>\n' +
              '</svg>',
        },
        {
          title: 'Audio Calls',
          text: 'Make high quality, end-to-end encrypted audio calls, based ',
          url: '/',
          alt: 'Audio Calls',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">\n' +
              '<g clip-path="url(#clip0)">\n' +
              '<path d="M15.5721 21.2106L12.3735 18.1442C11.6172 17.419 10.4644 17.3409 9.63297 17.9589C9.63267 17.9591 9.62879 17.9618 9.62864 17.9621L9.61448 17.9727C9.59749 17.9855 9.58154 17.9856 9.57081 17.9838C9.55203 17.9803 9.54427 17.9683 9.54159 17.9637C8.80268 16.7906 8.30302 15.5012 8.05602 14.1311C7.80932 12.7608 7.82781 11.3773 8.11162 10.0194C8.11252 10.0147 8.1152 10.0025 8.12981 9.99372C8.14173 9.98671 8.15485 9.98522 8.16931 9.98954L8.19137 9.99595C9.18876 10.2878 10.2455 9.81111 10.7032 8.86292L12.7967 4.52814C13.0917 3.91728 12.9653 3.18791 12.4826 2.71165C12.3115 2.53844 12.1167 2.37551 11.9034 2.22704C9.99281 0.900077 7.38524 1.30046 5.96689 3.13872C5.8788 3.25379 5.79696 3.37424 5.71811 3.49587L5.71721 3.49722C5.43339 3.91743 5.29253 4.17978 5.07982 4.57614L5.0345 4.66036C4.98337 4.75472 3.77715 6.98784 3.47991 8.56002C3.01916 10.9987 3.06 13.5206 3.59857 15.8527C4.16755 18.3161 5.2493 20.5079 6.81343 22.3671C7.21038 22.8388 7.94571 22.2213 7.54831 21.7487C6.08272 20.0071 5.06864 17.9504 4.53439 15.6365C4.02564 13.4328 3.98718 11.0476 4.42364 8.7383C4.6927 7.31429 5.86642 5.14035 5.87924 5.11694L5.92575 5.03034C6.11134 4.68481 6.30646 4.3521 6.52052 4.02356L6.5238 4.01834C6.58819 3.91653 6.65691 3.81785 6.7298 3.722C7.83571 2.29204 9.86655 1.98183 11.3552 3.01574C11.521 3.13082 11.671 3.25633 11.8012 3.3884C11.803 3.39034 11.805 3.39228 11.8069 3.39421C11.998 3.58159 12.0482 3.86958 11.9318 4.11046L9.83853 8.44524C9.58542 8.96905 9.006 9.23364 8.46162 9.07459L8.44344 9.06907C8.17304 8.98843 7.87953 9.02465 7.6382 9.16865C7.39865 9.31145 7.22857 9.5498 7.17163 9.82289C6.86232 11.3022 6.84205 12.8089 7.11096 14.3015C7.37972 15.7933 7.92395 17.1975 8.7289 18.4754C8.87796 18.7125 9.12138 18.8773 9.3967 18.9282C9.67456 18.9793 9.96404 18.911 10.1926 18.7394L10.2057 18.7297C10.6597 18.3924 11.2919 18.4376 11.7088 18.8374L14.9074 21.9038C15.2977 22.2781 15.3051 22.9093 15.0493 23.3582C14.6005 24.14 13.6704 24.6641 12.8041 24.8111C11.9221 24.9605 11.0313 24.7619 10.2962 24.2512C9.78978 23.8996 9.24123 24.6877 9.74834 25.0399C10.4865 25.5525 11.3468 25.8203 12.2283 25.8203C12.4728 25.8203 12.7192 25.7995 12.9645 25.758C14.1146 25.5628 15.2905 24.8667 15.8822 23.8364L15.8932 23.8171C16.3627 22.9991 16.2675 21.8774 15.5721 21.2106Z" fill="#00ABCA"/>\n' +
              '<path d="M20.7988 6.09303C18.047 5.35568 15.2086 6.99454 14.4712 9.74652C14.4068 9.98697 14.3593 10.2338 14.3299 10.4823L12.7825 12.9482C12.6196 13.2075 12.7538 13.5668 13.0407 13.66L15.5693 14.4815C16.2445 15.2571 17.1251 15.8064 18.1244 16.0742C20.8762 16.8115 23.7149 15.1726 24.4522 12.4209C25.1896 9.66895 23.5507 6.83039 20.7988 6.09303ZM18.373 15.1465C17.5217 14.9184 16.7764 14.4395 16.2178 13.7616C16.1597 13.6911 16.0826 13.6385 15.9958 13.6105L13.9232 12.9369L15.2023 10.8989C15.3525 10.6595 15.3262 10.2664 15.3989 9.9951C15.9992 7.7547 18.31 6.4206 20.5502 7.02087C22.7905 7.62115 24.1247 9.93191 23.5244 12.1723C22.9242 14.4124 20.6132 15.7468 18.373 15.1465Z" fill="#00ABCA"/>\n' +
              '<path d="M17.6736 10.7885C17.4125 10.7909 17.1954 11.012 17.1978 11.273C17.2002 11.5342 17.4215 11.7514 17.6825 11.749C17.9359 11.7466 18.1486 11.5379 18.1575 11.2851C18.1668 11.0161 17.9433 10.786 17.6736 10.7885Z" fill="#00ABCA"/>\n' +
              '<path d="M8.45685 23.0117C8.19569 23.0117 7.97656 23.2309 7.97656 23.4918C7.97656 23.7528 8.19584 23.9721 8.45685 23.9721C8.71025 23.9721 8.92491 23.7656 8.93609 23.5128C8.94786 23.2443 8.72605 23.0117 8.45685 23.0117Z" fill="#00ABCA"/>\n' +
              '<path d="M19.5641 10.7728C19.3025 10.7753 19.086 10.9958 19.0884 11.2574C19.0909 11.5188 19.3119 11.7358 19.573 11.7334C19.8267 11.7307 20.0388 11.5226 20.0475 11.2695C20.0568 11.0005 19.8342 10.7703 19.5641 10.7728Z" fill="#00ABCA"/>\n' +
              '<path d="M21.4508 10.7533C21.1898 10.7557 20.9727 10.9769 20.9752 11.2379C20.9777 11.499 21.199 11.7162 21.4597 11.7138C21.7134 11.7115 21.9258 11.5027 21.9347 11.25C21.9443 10.981 21.7208 10.7508 21.4508 10.7533Z" fill="#00ABCA"/>\n' +
              '</g>\n' +
              '<defs>\n' +
              '<clipPath id="clip0">\n' +
              '<rect width="26" height="25.7369" fill="#00ABCA"/>\n' +
              '</clipPath>\n' +
              '</defs>\n' +
              '</svg>'
        },
        {
          title: 'Rooms',
          text: 'Make high quality video calls with up to 7 other',
          url: '/',
          alt: 'Rooms',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">\n' +
              '<path d="M3.69141 0.344021H23.3086C25.344 0.344021 27 1.99999 27 4.03543V16.6917C27 18.7271 25.344 20.3831 23.3086 20.3831H17.9561C17.6649 20.3831 17.4287 20.1469 17.4287 19.8557C17.4287 19.5645 17.6649 19.3284 17.9561 19.3284H23.3086C24.7625 19.3284 25.9453 18.1456 25.9453 16.6917V4.03543C25.9453 2.58154 24.7625 1.39871 23.3086 1.39871H3.69141C2.23752 1.39871 1.05469 2.58154 1.05469 4.03543V16.6917C1.05469 18.1456 2.23752 19.3284 3.69141 19.3284H7.54808C7.83928 19.3284 8.07543 19.5645 8.07543 19.8557V22.6959L11.2885 19.4829C11.3874 19.384 11.5215 19.3284 11.6614 19.3284H12.9199C13.2111 19.3284 13.4473 19.5645 13.4473 19.8557C13.4473 20.1469 13.2111 20.3831 12.9199 20.3831H11.8798L7.92097 24.3419C7.82009 24.4428 7.68524 24.4964 7.54798 24.4964C7.48005 24.4964 7.4115 24.4832 7.34627 24.4562C7.14925 24.3746 7.02074 24.1823 7.02074 23.969V20.3831H3.69141C1.65597 20.3831 0 18.7271 0 16.6917V4.03543C0 1.99999 1.65597 0.344021 3.69141 0.344021Z" fill="#00ABCA"/>\n' +
              '<path d="M15.2796 19.4829C15.3776 19.3848 15.5137 19.3284 15.6523 19.3284C15.7911 19.3284 15.927 19.3848 16.0252 19.4829C16.1233 19.581 16.1797 19.717 16.1797 19.8557C16.1797 19.9944 16.1233 20.1305 16.0252 20.2285C15.9271 20.3267 15.7911 20.3831 15.6523 20.3831C15.5137 20.3831 15.3776 20.3267 15.2796 20.2285C15.1814 20.1305 15.125 19.9944 15.125 19.8557C15.125 19.717 15.1815 19.581 15.2796 19.4829Z" fill="#00ABCA"/>\n' +
              '<path d="M23.8625 4.63638C23.7023 4.54146 23.5038 4.53814 23.3404 4.62758L18.2149 7.43558V7.21525C18.2149 5.869 17.1196 4.7737 15.7733 4.7737H5.25795C3.9117 4.7737 2.81641 5.869 2.81641 7.21525V13.5118C2.81641 14.8581 3.9117 15.9534 5.25795 15.9534H15.7733C17.1195 15.9534 18.2148 14.8581 18.2148 13.5118V13.2915L23.3404 16.0995C23.4194 16.1428 23.5066 16.1643 23.5937 16.1643C23.6868 16.1643 23.7797 16.1397 23.8625 16.0907C24.0228 15.9957 24.1211 15.8233 24.1211 15.637V5.09011C24.1211 4.90385 24.0228 4.73136 23.8625 4.63638ZM17.1602 8.32584V12.4013V13.5118C17.1602 14.2765 16.538 14.8987 15.7733 14.8987H5.25795C4.49325 14.8987 3.87109 14.2765 3.87109 13.5118V13.4221H7.84969C8.14089 13.4221 8.37703 13.186 8.37703 12.8948C8.37703 12.6036 8.14089 12.3675 7.84969 12.3675H3.87109V7.21525C3.87109 6.45055 4.49325 5.82839 5.25795 5.82839H15.7733C16.538 5.82839 17.1602 6.45055 17.1602 7.21525V8.32584ZM23.0664 14.7468L18.2148 12.0889V8.63818L23.0664 5.98032V14.7468Z" fill="#00ABCA"/>\n' +
              '<path d="M9.68422 12.3675H9.679C9.3878 12.3675 9.1543 12.6036 9.1543 12.8948C9.1543 13.186 9.39303 13.4221 9.68422 13.4221C9.97542 13.4221 10.2116 13.186 10.2116 12.8948C10.2116 12.6036 9.97542 12.3675 9.68422 12.3675Z" fill="#00ABCA"/>\n' +
              '</svg>'
        },
        {
          title: 'Email',
          text: 'A customizable, multi-account email module that allows you',
          url: '/',
          alt: 'Email',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">\n' +
              '<path d="M22.9145 7.03851L21.2424 5.3657V2.05085C21.2424 0.930695 20.3311 0.0193787 19.211 0.0193787H15.8997H13.3256C13.1745 0.0193787 13.1061 0.0194294 12.9714 0.0193787L11.0525 0.0194295C10.9178 0.0194295 10.7437 0.0194295 10.6224 0.0194295H8.10808H4.78754C3.66739 0.0194295 2.75607 0.930746 2.75607 2.0509V5.37103L1.08509 7.03815C0.590678 7.53231 0.318359 8.18944 0.318359 8.88852V20.6637C0.318359 21.3683 0.598905 22.0083 1.05355 22.4791C1.06335 22.4909 1.07356 22.5024 1.08458 22.5135C1.09555 22.5244 1.10703 22.5346 1.11871 22.5443C1.58955 22.999 2.22962 23.2797 2.93438 23.2797H9.7139C9.9944 23.2797 10.2218 23.0523 10.2218 22.7718C10.2218 22.4914 9.9944 22.264 9.7139 22.264H2.93433C2.67801 22.264 2.43581 22.2031 2.22078 22.0955L8.20696 16.1093L10.1558 18.057C10.6499 18.5508 11.3066 18.8227 12.005 18.8227H12.0059C12.7046 18.8225 13.3615 18.5501 13.8554 18.0559L15.7962 16.1139L21.7777 22.0955C21.5627 22.203 21.3205 22.264 21.0642 22.264H14.2847C14.0042 22.264 13.7768 22.4914 13.7768 22.7718C13.7768 23.0523 14.0042 23.2797 14.2847 23.2797H21.0643C21.7689 23.2797 22.409 22.9991 22.8798 22.5444C22.8916 22.5346 22.9031 22.5244 22.9141 22.5135C22.9251 22.5024 22.9353 22.4909 22.9452 22.4791C23.3997 22.0082 23.6803 21.3683 23.6803 20.6637V8.88776C23.6802 8.18934 23.4083 7.53261 22.9145 7.03851ZM21.2425 6.80245L22.1961 7.75653C22.2842 7.84465 22.3603 7.94145 22.4245 8.04465L21.2425 9.22747V6.80245ZM1.8028 7.75694L2.75612 6.8058V9.22579L1.57437 8.0448C1.63861 7.94165 1.71479 7.8449 1.8028 7.75694ZM1.50255 21.3772C1.39499 21.1622 1.33409 20.92 1.33409 20.6637V9.24062L7.48853 15.3912L1.50255 21.3772ZM13.137 17.3379C12.8348 17.6402 12.4331 17.8068 12.0056 17.8069C11.5783 17.8069 11.1762 17.6406 10.8739 17.3385L3.77186 10.2409V2.05085C3.77186 1.49077 4.22751 1.03511 4.78759 1.03511H19.211C19.7711 1.03511 20.2267 1.49077 20.2267 2.05085V5.51115C20.2219 5.55152 20.2219 5.59226 20.2267 5.63263V10.2438L13.137 17.3379ZM22.6645 20.6637C22.6645 20.92 22.6036 21.1622 22.4961 21.3772L16.5143 15.3955L22.6645 9.24148V20.6637Z" fill="#00ABCA"/>\n' +
              '<path d="M11.9993 22.3505C11.8658 22.3505 11.7347 22.4048 11.6403 22.4993C11.5458 22.5937 11.4915 22.7248 11.4915 22.8583C11.4915 22.9919 11.5458 23.1229 11.6403 23.2174C11.7347 23.3124 11.8658 23.3662 11.9993 23.3662C12.1329 23.3662 12.2639 23.3124 12.3584 23.2174C12.4528 23.1229 12.5072 22.9919 12.5072 22.8583C12.5072 22.7248 12.4528 22.5937 12.3584 22.4993C12.2639 22.4049 12.1329 22.3505 11.9993 22.3505Z" fill="#00ABCA"/>\n' +
              '<path d="M11.9992 3.24985C9.35517 3.24985 7.2041 5.40087 7.2041 8.04492C7.2041 10.7251 9.38463 12.9057 12.0648 12.9057H15.1516C15.4321 12.9057 15.6595 12.6782 15.6595 12.3978C15.6595 12.1174 15.4321 11.8899 15.1516 11.8899H12.0648C9.9447 11.8899 8.21983 10.1651 8.21983 8.04492C8.21983 5.96099 9.91525 4.26558 11.9992 4.26558C14.0832 4.26558 15.7786 5.96099 15.7786 8.04492V9.0857C15.7786 9.48569 15.4532 9.81108 15.0532 9.81108C14.6532 9.81108 14.3277 9.48569 14.3277 9.0857V7.91014C14.3277 6.51965 13.1965 5.38842 11.806 5.38842C10.3439 5.38842 9.15441 6.57795 9.15441 8.0401C9.15441 9.5022 10.3439 10.6917 11.806 10.6917H12.6139C12.8944 10.6917 13.1218 10.4643 13.1218 10.1839C13.1218 9.90341 12.8944 9.67599 12.6139 9.67599H11.806C10.904 9.67599 10.1701 8.94212 10.1701 8.04005C10.1701 7.13803 10.904 6.40416 11.806 6.40416C12.6364 6.40416 13.312 7.07977 13.312 7.91014V9.0857C13.312 10.0458 14.0931 10.8268 15.0532 10.8268C16.0133 10.8268 16.7944 10.0458 16.7944 9.0857V8.04492C16.7943 5.40087 14.6432 3.24985 11.9992 3.24985Z" fill="#00ABCA"/>\n' +
              '</svg>'
        },
        {
          title: 'Cloud Storage',
          text: 'A cloud storage space hosted on the box server in which all  ',
          url: '/',
          alt: 'Cloud Storage',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">\n' +
              '<path d="M29.4112 27.6562H18.9238C18.6002 27.6562 18.3379 27.9186 18.3379 28.2421C18.3379 28.5657 18.6002 28.828 18.9238 28.828H29.4112C29.7348 28.828 29.9971 28.5657 29.9971 28.2421C29.9971 27.9186 29.7348 27.6562 29.4112 27.6562Z" fill="#00ABCA"/>\n' +
              '<path d="M11.0147 27.6562H0.585879C0.262266 27.6562 0 27.9186 0 28.2421C0 28.5657 0.262324 28.828 0.585879 28.828H11.0147C11.3384 28.828 11.6006 28.5657 11.6006 28.2421C11.6006 27.9186 11.3383 27.6562 11.0147 27.6562Z" fill="#00ABCA"/>\n' +
              '<path d="M15.2299 11.9844H10.6894C10.3658 11.9844 10.1035 12.2467 10.1035 12.5703C10.1035 12.8939 10.3658 13.1561 10.6894 13.1561H15.2299C15.5536 13.1561 15.8158 12.8938 15.8158 12.5703C15.8158 12.2467 15.5535 11.9844 15.2299 11.9844Z" fill="#00ABCA"/>\n' +
              '<path d="M19.7891 12.1561C19.6802 12.0471 19.529 11.9844 19.3749 11.9844C19.2203 11.9844 19.0691 12.0471 18.9607 12.1561C18.8512 12.265 18.7891 12.4162 18.7891 12.5703C18.7891 12.7244 18.8512 12.8755 18.9607 12.9845C19.0697 13.0934 19.2203 13.1561 19.3749 13.1561C19.529 13.1561 19.6802 13.0934 19.7891 12.9845C19.8981 12.8755 19.9608 12.7243 19.9608 12.5703C19.9608 12.4162 19.8981 12.265 19.7891 12.1561Z" fill="#00ABCA"/>\n' +
              '<path d="M17.7429 12.1561C17.6333 12.0471 17.4827 11.9844 17.3281 11.9844C17.174 11.9844 17.0228 12.0471 16.9139 12.1561C16.8049 12.265 16.7422 12.4162 16.7422 12.5703C16.7422 12.7249 16.8049 12.8755 16.9139 12.9845C17.0234 13.0934 17.174 13.1561 17.3281 13.1561C17.4821 13.1561 17.6333 13.0934 17.7429 12.9845C17.8518 12.8755 17.9139 12.7243 17.9139 12.5703C17.9139 12.4162 17.8518 12.265 17.7429 12.1561Z" fill="#00ABCA"/>\n' +
              '<path d="M15.2299 16.6719H10.6894C10.3658 16.6719 10.1035 16.9342 10.1035 17.2578C10.1035 17.5813 10.3658 17.8436 10.6894 17.8436H15.2299C15.5536 17.8436 15.8158 17.5813 15.8158 17.2578C15.8158 16.9342 15.5535 16.6719 15.2299 16.6719Z" fill="#00ABCA"/>\n' +
              '<path d="M19.7891 16.8436C19.6802 16.7346 19.529 16.6719 19.3749 16.6719C19.2203 16.6719 19.0697 16.7346 18.9607 16.8436C18.8512 16.9525 18.7891 17.1037 18.7891 17.2578C18.7891 17.4124 18.8512 17.563 18.9607 17.672C19.0697 17.7809 19.2203 17.8436 19.3749 17.8436C19.529 17.8436 19.6802 17.7809 19.7891 17.672C19.8981 17.563 19.9608 17.4118 19.9608 17.2578C19.9608 17.1037 19.8981 16.9525 19.7891 16.8436Z" fill="#00ABCA"/>\n' +
              '<path d="M17.7429 16.8436C17.6333 16.7346 17.4827 16.6719 17.3281 16.6719C17.174 16.6719 17.0228 16.7346 16.9139 16.8436C16.8049 16.9525 16.7422 17.1037 16.7422 17.2578C16.7422 17.4118 16.8049 17.563 16.9139 17.672C17.0229 17.7809 17.174 17.8436 17.3281 17.8436C17.4828 17.8436 17.6333 17.7809 17.7429 17.672C17.8518 17.563 17.9139 17.4118 17.9139 17.2578C17.9139 17.1037 17.8518 16.9525 17.7429 16.8436Z" fill="#00ABCA"/>\n' +
              '<path d="M15.2299 21.3594H10.6894C10.3658 21.3594 10.1035 21.6217 10.1035 21.9453C10.1035 22.2688 10.3658 22.5311 10.6894 22.5311H15.2299C15.5536 22.5311 15.8158 22.2688 15.8158 21.9453C15.8158 21.6217 15.5535 21.3594 15.2299 21.3594Z" fill="#00ABCA"/>\n' +
              '<path d="M19.7891 21.5311C19.6796 21.4221 19.529 21.3594 19.3749 21.3594C19.2203 21.3594 19.0697 21.4221 18.9602 21.5311C18.8512 21.64 18.7891 21.7912 18.7891 21.9453C18.7891 22.0993 18.8512 22.2505 18.9602 22.3595C19.0697 22.4684 19.2203 22.5311 19.3749 22.5311C19.529 22.5311 19.6802 22.4684 19.7891 22.3595C19.8981 22.2505 19.9608 22.0993 19.9608 21.9453C19.9608 21.7912 19.8981 21.64 19.7891 21.5311Z" fill="#00ABCA"/>\n' +
              '<path d="M17.7423 21.5311C17.6333 21.4221 17.4827 21.3594 17.3281 21.3594C17.174 21.3594 17.0228 21.4221 16.9139 21.5311C16.8049 21.64 16.7422 21.7912 16.7422 21.9453C16.7422 22.0993 16.8049 22.2505 16.9139 22.3595C17.0229 22.4684 17.174 22.5311 17.3281 22.5311C17.4828 22.5311 17.6333 22.4684 17.7423 22.3595C17.8518 22.2505 17.9139 22.0993 17.9139 21.9453C17.9139 21.7912 17.8518 21.64 17.7423 21.5311Z" fill="#00ABCA"/>\n' +
              '<path d="M22.6219 17.3393C22.6219 16.382 22.1603 15.5306 21.4481 14.9957C22.1603 14.4608 22.6219 13.6094 22.6219 12.6521C22.6219 11.0368 21.3077 9.72266 19.6924 9.72266H10.3181C8.70281 9.72266 7.38867 11.0368 7.38867 12.6521C7.38867 13.6094 7.85021 14.4608 8.56248 14.9957C7.85027 15.5306 7.38867 16.382 7.38867 17.3393C7.38867 18.2966 7.85021 19.1479 8.56248 19.6828C7.85027 20.2177 7.38867 21.0691 7.38867 22.0264C7.38867 23.6417 8.70281 24.9559 10.3181 24.9559H14.412V26.5822C13.73 26.8241 13.2402 27.4753 13.2402 28.2392C13.2401 29.2084 14.0286 29.9969 14.9978 29.9969C15.967 29.9969 16.7555 29.2084 16.7555 28.2392C16.7555 27.4754 16.2657 26.8241 15.5838 26.5822V24.9559H19.6925C21.3078 24.9559 22.6219 23.6417 22.6219 22.0264C22.6219 21.0691 22.1604 20.2177 21.4481 19.6828C22.1603 19.1479 22.6219 18.2966 22.6219 17.3393ZM8.56037 12.6522C8.56037 11.683 9.34887 10.8945 10.3181 10.8945H19.6924C20.6616 10.8945 21.4501 11.683 21.4501 12.6522C21.4501 13.6214 20.6616 14.4099 19.6924 14.4099H10.3181C9.34887 14.4098 8.56037 13.6213 8.56037 12.6522ZM14.9978 28.8251C14.6747 28.8251 14.412 28.5622 14.412 28.2392C14.412 27.9161 14.6748 27.6533 14.9978 27.6533C15.3209 27.6533 15.5837 27.9162 15.5837 28.2392C15.5837 28.5622 15.3209 28.8251 14.9978 28.8251ZM21.4501 22.0264C21.4501 22.9956 20.6616 23.7841 19.6924 23.7841H10.3181C9.34887 23.7841 8.56037 22.9956 8.56037 22.0264C8.56037 21.0572 9.34887 20.2687 10.3181 20.2687H19.6924C20.6616 20.2688 21.4501 21.0573 21.4501 22.0264ZM19.6924 19.097H10.3181C9.34887 19.097 8.56037 18.3085 8.56037 17.3393C8.56037 16.3701 9.34887 15.5816 10.3181 15.5816H19.6924C20.6616 15.5816 21.4501 16.3701 21.4501 17.3393C21.4501 18.3085 20.6616 19.097 19.6924 19.097Z" fill="#00ABCA"/>\n' +
              '<path d="M28.7399 9.07236C27.9875 7.98035 26.9601 7.12693 25.7569 6.59133C24.2823 2.63795 20.4985 0 16.2586 0C13.7915 0 11.4141 0.896895 9.56438 2.52539C7.87313 4.01432 6.72996 6.01512 6.3068 8.20752C6.21586 8.20342 6.1251 8.20137 6.03469 8.20137C2.70715 8.20137 0 10.9085 0 14.2361C0 15.6841 0.520664 17.0844 1.46607 18.179C2.40152 19.262 3.69152 19.9792 5.09854 20.1985C5.12912 20.2032 5.15947 20.2056 5.18947 20.2056C5.47324 20.2056 5.72256 19.999 5.76768 19.7099C5.81754 19.3901 5.59869 19.0906 5.279 19.0407C2.8991 18.6698 1.17176 16.6492 1.17176 14.2361C1.17176 11.5547 3.3532 9.37318 6.03469 9.37318C6.26045 9.37318 6.48938 9.38918 6.7152 9.42082C6.86965 9.44238 7.02609 9.4016 7.1502 9.3075C7.27441 9.2134 7.35598 9.07371 7.37689 8.91938C7.97596 4.50252 11.7943 1.17182 16.2585 1.17182C20.0867 1.17182 23.4943 3.60287 24.7379 7.22115C24.7932 7.38217 24.9158 7.51107 25.0738 7.57447C27.3531 8.48906 28.8259 10.6669 28.8259 13.1228C28.8259 15.9496 26.8194 18.4118 24.0548 18.9775C23.7377 19.0424 23.5334 19.352 23.5983 19.669C23.6631 19.986 23.9726 20.1903 24.2897 20.1255C27.5972 19.4487 29.9977 16.5037 29.9977 13.1228C29.9977 11.6674 29.5628 10.2667 28.7399 9.07236Z" fill="#00ABCA"/>\n' +
              '</svg>'
        },
        {
          title: 'Backup & Restore',
          text: 'A specially designed backup mechanism for ensuring',
          url: '/',
          alt: 'Backup & Restore',
          icon:'<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27" fill="none">\n' +
              '<path d="M21.15 27H2.25C1.65348 26.9993 1.0816 26.762 0.659799 26.3402C0.237997 25.9184 0.000714536 25.3465 0 24.75V22.95C0.000714536 22.3535 0.237997 21.7816 0.659799 21.3598C1.0816 20.938 1.65348 20.7007 2.25 20.7H21.15C21.7465 20.7007 22.3184 20.938 22.7402 21.3598C23.162 21.7816 23.3993 22.3535 23.4 22.95V24.75C23.3993 25.3465 23.162 25.9184 22.7402 26.3402C22.3184 26.762 21.7465 26.9993 21.15 27ZM2.25 21.6C1.89196 21.6 1.54858 21.7422 1.29541 21.9954C1.04223 22.2486 0.9 22.592 0.9 22.95V24.75C0.9 25.108 1.04223 25.4514 1.29541 25.7046C1.54858 25.9578 1.89196 26.1 2.25 26.1H21.15C21.508 26.1 21.8514 25.9578 22.1046 25.7046C22.3578 25.4514 22.5 25.108 22.5 24.75V22.95C22.5 22.592 22.3578 22.2486 22.1046 21.9954C21.8514 21.7422 21.508 21.6 21.15 21.6H2.25Z" fill="#00ABCA"/>\n' +
              '<path d="M22.95 24.7516C22.8307 24.7516 22.7162 24.7041 22.6318 24.6197C22.5474 24.5354 22.5 24.4209 22.5 24.3016V13.0516C22.5 12.9322 22.5474 12.8178 22.6318 12.7334C22.7162 12.649 22.8307 12.6016 22.95 12.6016C23.0693 12.6016 23.1838 12.649 23.2682 12.7334C23.3526 12.8178 23.4 12.9322 23.4 13.0516V24.3016C23.4 24.4209 23.3526 24.5354 23.2682 24.6197C23.1838 24.7041 23.0693 24.7516 22.95 24.7516Z" fill="#00ABCA"/>\n' +
              '<path d="M0.45 24.3C0.330653 24.3 0.216193 24.2526 0.131802 24.1682C0.0474106 24.0838 5.03973e-09 23.9694 5.03973e-09 23.85V3.15C-1.10787e-05 3.07593 0.0182601 3.00301 0.0531923 2.9377C0.0881245 2.87239 0.138638 2.81671 0.20025 2.7756L1.31122 1.94707C1.37342 1.39735 1.68843 0.942475 2.10079 0.573681C2.51315 0.204887 3.04678 0.000690245 3.6 0L17.55 0C17.6693 0 17.7838 0.0474106 17.8682 0.131802C17.9526 0.216193 18 0.330653 18 0.45C18 0.569348 17.9526 0.683807 17.8682 0.768198C17.7838 0.85259 17.6693 0.9 17.55 0.9H3.6C3.24196 0.9 2.89858 1.04223 2.64541 1.29541C2.39223 1.54858 2.19727 1.83922 2.19727 2.19727C2.19728 2.27133 2.17901 2.34426 2.14407 2.40957C2.10914 2.47488 2.05863 2.53056 1.99702 2.57167L0.9 3.39075V23.85C0.9 23.9694 0.85259 24.0838 0.768198 24.1682C0.683807 24.2526 0.569348 24.3 0.45 24.3Z" fill="#00ABCA"/>\n' +
              '<path d="M12.1501 25.2H3.60012C3.24208 25.2 2.8987 25.0577 2.64553 24.8046C2.39235 24.5514 2.25012 24.208 2.25012 23.85C2.25012 23.4919 2.39235 23.1486 2.64553 22.8954C2.8987 22.6422 3.24208 22.5 3.60012 22.5H12.1501C12.5082 22.5 12.8515 22.6422 13.1047 22.8954C13.3579 23.1486 13.5001 23.4919 13.5001 23.85C13.5001 24.208 13.3579 24.5514 13.1047 24.8046C12.8515 25.0577 12.5082 25.2 12.1501 25.2ZM3.60012 23.4C3.48078 23.4 3.36632 23.4474 3.28192 23.5318C3.19753 23.6162 3.15012 23.7306 3.15012 23.85C3.15012 23.9693 3.19753 24.0838 3.28192 24.1682C3.36632 24.2526 3.48078 24.3 3.60012 24.3H12.1501C12.2695 24.3 12.3839 24.2526 12.4683 24.1682C12.5527 24.0838 12.6001 23.9693 12.6001 23.85C12.6001 23.7306 12.5527 23.6162 12.4683 23.5318C12.3839 23.4474 12.2695 23.4 12.1501 23.4H3.60012Z" fill="#00ABCA"/>\n' +
              '<path d="M14.8499 24.2984C15.0984 24.2984 15.2999 24.097 15.2999 23.8484C15.2999 23.5999 15.0984 23.3984 14.8499 23.3984C14.6014 23.3984 14.3999 23.5999 14.3999 23.8484C14.3999 24.097 14.6014 24.2984 14.8499 24.2984Z" fill="#00ABCA"/>\n' +
              '<path d="M16.6499 24.2984C16.8985 24.2984 17.0999 24.097 17.0999 23.8484C17.0999 23.5999 16.8985 23.3984 16.6499 23.3984C16.4014 23.3984 16.2 23.5999 16.2 23.8484C16.2 24.097 16.4014 24.2984 16.6499 24.2984Z" fill="#00ABCA"/>\n' +
              '<path d="M20.7 24.2984H18.45C18.3307 24.2984 18.2162 24.251 18.1318 24.1666C18.0474 24.0822 18 23.9678 18 23.8484C18 23.7291 18.0474 23.6146 18.1318 23.5302C18.2162 23.4458 18.3307 23.3984 18.45 23.3984H20.7C20.8193 23.3984 20.9338 23.4458 21.0182 23.5302C21.1026 23.6146 21.15 23.7291 21.15 23.8484C21.15 23.9678 21.1026 24.0822 21.0182 24.1666C20.9338 24.251 20.8193 24.2984 20.7 24.2984Z" fill="#00ABCA"/>\n' +
              '<path d="M23.4 13.5H15.3C14.8226 13.5 14.3648 13.3104 14.0272 12.9728C13.6896 12.6352 13.5 12.1774 13.5 11.7V4.05C13.5 3.93066 13.5475 3.81622 13.6318 3.73185L17.2318 0.13185C17.3162 0.0474528 17.4307 2.54868e-05 17.55 0L23.4 0C23.8774 0 24.3352 0.189642 24.6728 0.527208C25.0104 0.864773 25.2 1.32261 25.2 1.8V11.7C25.2 12.1774 25.0104 12.6352 24.6728 12.9728C24.3352 13.3104 23.8774 13.5 23.4 13.5ZM14.4 4.2363V11.7C14.4 11.9387 14.4948 12.1676 14.6636 12.3364C14.8324 12.5052 15.0613 12.6 15.3 12.6H23.4C23.6387 12.6 23.8676 12.5052 24.0364 12.3364C24.2052 12.1676 24.3 11.9387 24.3 11.7V1.8C24.3 1.56131 24.2052 1.33239 24.0364 1.1636C23.8676 0.994821 23.6387 0.9 23.4 0.9H17.7363L14.4 4.2363Z" fill="#00ABCA"/>\n' +
              '<path d="M16.65 4.5H13.95C13.8307 4.5 13.7162 4.45259 13.6318 4.3682C13.5474 4.28381 13.5 4.16935 13.5 4.05C13.5 3.93065 13.5474 3.81619 13.6318 3.7318C13.7162 3.64741 13.8307 3.6 13.95 3.6H16.65C16.711 3.60574 16.7725 3.59786 16.8301 3.57693C16.8877 3.55599 16.9399 3.52252 16.9829 3.47895C17.026 3.43537 17.0588 3.38277 17.0791 3.32494C17.0993 3.26712 17.1065 3.20552 17.1 3.1446V0.45C17.1 0.330653 17.1474 0.216193 17.2318 0.131802C17.3162 0.0474106 17.4307 0 17.55 0C17.6693 0 17.7838 0.0474106 17.8682 0.131802C17.9526 0.216193 18 0.330653 18 0.45V3.15C18.0052 3.3287 17.9739 3.50659 17.9079 3.67274C17.8419 3.83889 17.7426 3.98981 17.6162 4.11623C17.4898 4.24264 17.3389 4.34189 17.1727 4.40789C17.0066 4.47388 16.8287 4.50523 16.65 4.5Z" fill="#00ABCA"/>\n' +
              '<path d="M22.5 11.2516H16.2C16.0807 11.2516 15.9662 11.2042 15.8818 11.1198C15.7974 11.0354 15.75 10.9209 15.75 10.8016C15.75 10.6822 15.7974 10.5678 15.8818 10.4834C15.9662 10.399 16.0807 10.3516 16.2 10.3516H22.5C22.6193 10.3516 22.7338 10.399 22.8182 10.4834C22.9026 10.5678 22.95 10.6822 22.95 10.8016C22.95 10.9209 22.9026 11.0354 22.8182 11.1198C22.7338 11.2042 22.6193 11.2516 22.5 11.2516Z" fill="#00ABCA"/>\n' +
              '<path d="M22.5 9.45002H16.2C16.0807 9.45002 15.9662 9.40261 15.8818 9.31822C15.7974 9.23383 15.75 9.11937 15.75 9.00002C15.75 8.88067 15.7974 8.76621 15.8818 8.68182C15.9662 8.59743 16.0807 8.55002 16.2 8.55002H22.5C22.6193 8.55002 22.7338 8.59743 22.8182 8.68182C22.9026 8.76621 22.95 8.88067 22.95 9.00002C22.95 9.11937 22.9026 9.23383 22.8182 9.31822C22.7338 9.40261 22.6193 9.45002 22.5 9.45002Z" fill="#00ABCA"/>\n' +
              '<path d="M22.5 7.65H16.2C16.0807 7.65 15.9662 7.60259 15.8818 7.5182C15.7974 7.43381 15.75 7.31935 15.75 7.2C15.75 7.08065 15.7974 6.96619 15.8818 6.8818C15.9662 6.79741 16.0807 6.75 16.2 6.75H22.5C22.6193 6.75 22.7338 6.79741 22.8182 6.8818C22.9026 6.96619 22.95 7.08065 22.95 7.2C22.95 7.31935 22.9026 7.43381 22.8182 7.5182C22.7338 7.60259 22.6193 7.65 22.5 7.65Z" fill="#00ABCA"/>\n' +
              '<path d="M22.5002 5.84998H19.3501C19.2308 5.84998 19.1163 5.80257 19.0319 5.71818C18.9476 5.63379 18.9001 5.51933 18.9001 5.39998C18.9001 5.28064 18.9476 5.16618 19.0319 5.08179C19.1163 4.99739 19.2308 4.94998 19.3501 4.94998H22.5002C22.6195 4.94998 22.734 4.99739 22.8183 5.08179C22.9027 5.16618 22.9502 5.28064 22.9502 5.39998C22.9502 5.51933 22.9027 5.63379 22.8183 5.71818C22.734 5.80257 22.6195 5.84998 22.5002 5.84998Z" fill="#00ABCA"/>\n' +
              '<path d="M8.0999 17.1C7.98055 17.1 7.8661 17.0526 7.7817 16.9682C7.69731 16.8838 7.6499 16.7694 7.6499 16.65V13.05C7.6499 8.60132 11.6594 8.55002 11.6999 8.55002C11.8192 8.55002 11.9337 8.59743 12.0181 8.68182C12.1025 8.76621 12.1499 8.88067 12.1499 9.00002C12.1499 9.11937 12.1025 9.23383 12.0181 9.31822C11.9337 9.40261 11.8192 9.45002 11.6999 9.45002C11.5649 9.45002 8.5499 9.51617 8.5499 13.05V16.65C8.5499 16.7694 8.50249 16.8838 8.4181 16.9682C8.33371 17.0526 8.21925 17.1 8.0999 17.1Z" fill="#00ABCA"/>\n' +
              '<path d="M8.10006 17.1C7.98072 17.1 7.86628 17.0525 7.78191 16.9681L5.98191 15.1681C5.89994 15.0833 5.85458 14.9696 5.85561 14.8516C5.85663 14.7336 5.90396 14.6207 5.98739 14.5373C6.07083 14.4539 6.18369 14.4066 6.30168 14.4055C6.41967 14.4045 6.53334 14.4499 6.61821 14.5318L8.10006 16.0137L9.58191 14.5318C9.66678 14.4499 9.78045 14.4045 9.89844 14.4055C10.0164 14.4066 10.1293 14.4539 10.2127 14.5373C10.2962 14.6207 10.3435 14.7336 10.3445 14.8516C10.3455 14.9696 10.3002 15.0833 10.2182 15.1681L8.41821 16.9681C8.33384 17.0525 8.2194 17.1 8.10006 17.1Z" fill="#00ABCA"/>\n' +
              '</svg>'
        },
      ]

    }
  },
  methods: {
    activate(index) {
      this.active = index;
    }
  }

}
</script>

<style scoped lang="scss">
.main-features {
  margin-bottom: 184px;
  .animate__background{
    @function random_range($min, $max) {
      $rand: random();
      $random_range: $min + floor($rand * (($max - $min) + 1));
      @return $random_range;
    }
   & > span {
      $total: 200;
      position: absolute;
      width: 10px;
      height: 10px;
      background: #00ABCA;
      border-radius: 50%;

      @for $i from 1 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random_range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end: $random-x + ($random-offset / 2);
        $random-time: random_range(30000, 80000) / 100000;
        $random-y: $random-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random_range(10, 30) * 1s;
        $fall-delay: random(30) * -1s;

        &:nth-child(#{$i}) {
          opacity: random(10000) * 0.0001;
          transform: translate($random-x, -10px) scale($random-scale);
          animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }

        @keyframes fall-#{$i} {
          #{percentage($random-time)} {
            transform: translate($random-x-end, $random-y) scale($random-scale);
          }

          to {
            transform: translate($random-x-end, 100vh) scale($random-scale);
          }
        }
      }
    }
  }
  .main-features__content {
      display: flex;
      position: relative;
    z-index: 2;
      .main-features__content--el {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 145px;

        .tab-el {
          width:50%;
          margin-bottom: 70px;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          &:nth-child(even){
            justify-content: flex-end;
            .text-box {
              padding-right: 0;
              padding-left: 100px;
              justify-content: flex-start;
              span {
                left: 0;
              }

              h5, p {
                text-align: left;
              }
            }
          }
          &.is-active {
            .text-box {
              span {
                background: #00ABCA;
              }
            }
          }
          .text-box {
            display: flex;
            width: 372px;
            flex-wrap: wrap;
            align-items: flex-start;
            position: relative;
            padding-right: 100px;
            justify-content: flex-end;

            h5 {
              font:700 20px 'IBM Plex Sans';
              color: #161616;
              text-transform: capitalize;
              padding-bottom: 20px;
              text-align: right;
            }

            p {
              font:400 16px 'Open Sans';
              color: #667886;
              text-align: right;
              a {
                  font-weight: 600;
              }
            }

            span {
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background: #F1F3F6;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }

      .tabs-content {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50px;
        left: calc(50% - (313px  / 2));
        img {
          width: 313px;
          height: auto;
          object-fit: cover;
        }
      }
    }
}
</style>