<template>
    <section class="top-banner">
      <div class="container">
        <div class="top-banner__content">
          <div class="top-banner__content--text">
            <h1>{{ titleBanner }}</h1>
            <p>
              {{ textBanner }}
            </p>
            <span data-text="Get Started"></span>
          </div>
          <div class="top-banner__content--img">
            <img src="../../assets/img/banner-img.png" alt="img">
          </div>

        </div>
      </div>
    </section>
</template>

<script>
export default {
  name: "TopBanner",
  data() {
    return {
      titleBanner: 'dSTAR',
      textBanner: '  dSTAR Internet of Things (IoT) - is a solution for everyone who wants to take control of your home and office. It’s not only easy to install and use it, but your camera’s management is also secure with dSTAR iCommunicator.'
    }
  }
}
</script>

<style scoped lang="scss">
.top-banner {
  position: relative;
  background: #000 url("../../assets/img/top_banner.jpg") fixed;

  .top-banner__content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;

    .top-banner__content--text {
      max-width: 500px;
      margin-right: auto;

      h1 {
        color: #fff;
        font:bold 54px 'IBM Plex Sans';
      }

      p {
        color: #fff;
        font:400 15px/30px 'Open Sans';
        padding-top: 20px;
      }

      span {
        display: flex;
        margin-top: 47px;
        position: relative;
        background: #00ABCA;
        border-radius: 5px;
        overflow: hidden;
        width: 172px;
        height: 54px;
        cursor: pointer;
        &:hover{
          &:before{
            top: -100%;
          }
          &:after{
            top: 0;
          }
        }
        &:before {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          content: attr(data-text);
          color: #fff;
          font:700 18px 'IBM Plex Sans';
          transition: 0.2s ease-in-out;
        }

        &:after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 100%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          content: attr(data-text);
          color: #fff;
          font:700 18px 'IBM Plex Sans';
          transition: 0.2s ease-in-out;
        }
      }
    }

    .top-banner__content--img {

      img {

      }
    }
  }
}


</style>