.title-section {
text-align: center;
  span {
    color: $baseColor;
    font:600 16px/1 'IBM Plex Sans';
  }

  h2 {
    color: #161616;
    font:700 42px/1 'IBM Plex Sans';
    padding:10px 0 0;
  }

  p {
    color: #667886;
    font: 16px/1 'Open Sans';
    padding-top: 20px;
  }
}
.tab-el {
  &.is-active {
    .text-box {
      span {
        background: #00ABCA;

        svg {
          fill: #FFFFFF !important;

          g {
            path {
              fill: #FFFFFF !important;
            }
          }

          path {
            fill: #FFFFFF !important;
          }

        }
      }
    }
  }
}

.button-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  span ,button{
    border: 1px solid #00ABCA;
    border-radius: 5px;
    color: #00ABCA;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 29px;
    width: 225px;
    height: 50px;
    font:bold 18px 'IBM Plex Sans';
    position: relative;
    cursor: pointer;
    background: #fff;
    &:hover{
      background: #00ABCA;
      color: #fff;
      &:before{
        background: #fff;
      }
      &:after{
        border-top:2px solid #fff ;
        border-right:2px solid #fff ;
      }
    }
    &:before{
      position: absolute;
      top: calc(50% - 1px);
      width: 20px;
      background: #00ABCA;
      content:'';
      height: 2px;
      left: 38px;
    }
    &:after{
      position: absolute;
      top: calc(50% - 5px);
      width: 10px;
      height: 10px;
      border-top:2px solid #00ABCA ;
      border-right:2px solid #00ABCA ;
      content:'';
      left: 37px;
      transform: rotate(-135deg);
    }
    &.prev-step{

    }
    &.next-step{
      padding-right: 0;
      padding-left: 29px;
      justify-content: flex-start;
      &:before{
        right: 38px;
        left: auto;
      }
      &:after{
        right: 37px;
        left: auto;
        transform: rotate(45deg);
      }
    }
  }
}
