<template>
  <div id="app">
        <Header/>
        <TopBanner/>
        <HowItWorks/>
        <MainFeatures/>
        <FreeSupport/>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {

  },

}
</script>

<style  lang="scss">



</style>
